
# Use execo 2.6.4
git+https://scm.gforge.inria.fr/anonscm/git/execo/execo.git@2.6.4

# creating command interfaces
docopt

# the library it is built on
# enoslib==1.6.0
git+https://github.com/BeyondTheClouds/enoslib.git@master # fix the read of ansible/group_vars/all.yml
# for the analysis of results
pandas
matplotlib

# For read/write ratio experiment
PyMySQL # PyMySQL is pure python and those can be installed on the
        # frontend
